.login{
   text-align: center;
    width: 850px;
    margin: 50px auto; /* Centrar horizontalmente en la pantalla */
    padding: 50px;
    border: 200px solid #ff9999;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #252B48;
    
}

.titulo{
    text-align: center;

}

.logoUsuario{
    margin: 1px auto;
    display: flex;
    height: 100px;
    width: 110px;
}

.botonRegistro{
    text-align: center;
    background:#f8f8f8;
    cursor:pointer;
    background-color: #ccccff;
    color: black;
    margin: 54px 55px;
    width: 120px;
    height: 30px;

}

.inicio{
    
    margin: 1px auto;
    display: flex;
    height: 110px;
    width: 120px;
    
}